body {
    background-color: #F5DAA0;
}

#mainpic {
    height: auto;
    width: auto;
    max-width: 600px;

}

.ingpic {
    height: 300px;
    width: 300px;
    max-width: 300px;
    max-height: 300px;

}

.bordered {
border: 1px solid black;
background-color: #F2F4F5;
border-collapse: collapse;
width: auto;
}

td, tr, th {
background-color: inherit;
border: 1px solid black;
width: auto;
height: auto;
font-size: 24px;
}

h1 {
 font-size: 64px;
 color: red;
 text-decoration: underline;
 text-transform: uppercase;

}

li, p {
 font-size: 24px;

}

nav {
    font-size: 64px;
    color: blue;
    text-decoration: underline;
    text-transform: uppercase;
    width: 70%;
    display: inline;

}
nav:hover, nav:active, nav:focus{
  color: springgreen;
  background-color: Yellow;



}


.test {
  width: 100%;
  text-align: center;


}
